name: "Workflow Testing: Automatic schedule"


on:
  schedule:
    - cron: '15 14 * * *'
  workflow_dispatch:
    inputs:
      whattodo:
        description: 'What to Do'
        type: string
      dosomething:
        description: 'Rahs Rah Rah'
        type: boolean
        required: true
  workflow_call:
    inputs:
      whattodo:
        type: string
      dosomething:
        type: boolean
        required: true


jobs:
  testing:
    name: "The Test"
    runs-on: windows-latest
    steps:

      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          clean: true
          fetch-tags: true

      - name: Job Details
        shell: pwsh
        id: jobdetails
        run: |
            # Grab Input variables into powershell
            $VarInput = '${{inputs.dosomething}}'
            $VarInputWhat = '${{inputs.whattodo}}'

            "## Workflow Testing" >> $env:GITHUB_STEP_SUMMARY
            "### Schedule Run Automatic Inputs" >> $env:GITHUB_STEP_SUMMARY
            "- VarInput: ``$VarInput``" >> $env:GITHUB_STEP_SUMMARY
            "- VarInputWhat: ``$VarInputWhat``" >> $env:GITHUB_STEP_SUMMARY
            "- fired how: ${{github.event_name}}" >> $env:GITHUB_STEP_SUMMARY


      - name: Check Confirmed
        shell: pwsh
        if: ${{github.event_name == 'workflow_dispatch' && !inputs.dosomething}}
        run: |
            echo "Rah rah rah"
            echo "Rah rah rah, not confirmed" >> $env:GITHUB_STEP_SUMMARY
            exit 1

      - name: I did it
        shell: pwsh
        run: |
            echo "Do some work"
            echo "> Do Some work" >> $env:GITHUB_STEP_SUMMARY
